*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1920px;  
    margin: 0 auto; 
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col-4{
    width: 33.3%;
}
.col-3{
    width: 25%;
}